html {
  scroll-padding-top: 60px;
}
html,
body {
  margin: 0;
  padding: 0;
  --scroll-percent: 0;
  background-color: #000;
  color: #fff;
}

:root {
  font-size: 17px;
  scroll-behavior: smooth;

  --inner-width: 50em;
}

h1 {
  font-size: 3em;
  line-height: initial;
  font-weight: bold;
  margin: 1em 0;
}

header {
  position: fixed;
  top: 0;
  flex: 0 0 60px;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  opacity: calc(var(--scroll-percent) * var(--scroll-percent));
  filter: blur(
    calc((1 - var(--scroll-percent) * var(--scroll-percent)) * 10px)
  );
  color: #fff;
  z-index: 2;
  box-sizing: border-box;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}
.logo-title {
  margin-left: 0.25em;
  font-weight: bold;
  font-size: 1.05rem;
}

.hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: url("../assets/images/hero.jpg") center / cover no-repeat;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.hero::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.hero::after {
  display: var(--filter-visible);
  position: absolute;
  inset: 0;
  content: "";
  backdrop-filter: blur(calc(10px * (var(--scroll-percent) - 0.2)));
}

.hero-logo {
  width: 8em;
  margin: 10px;
  animation: breath 2s ease-out infinite alternate;
}

.hero-title {
  text-align: center;
  font-size: 5rem;
  line-height: 1.05em;
  max-width: 60%;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

.copyright {
  position: relative;
  text-align: center;
  opacity: 0.8;
}

a {
  color: #249cff;
  outline: none;
}

a[class] {
  text-decoration: none;
  color: inherit;
}

main {
  margin-top: calc(100vh - 9em);
  position: relative;
  z-index: 1;
}

section {
  display: flex;
  justify-content: center;
  font-size: 1.05rem;
  line-height: 1.5em;
}

section.overview-wrap {
  position: relative;
  background-color: transparent !important;
  z-index: 2;
}

section.overview-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 0 auto;
  background-color: #222;
  backdrop-filter: blur(40px);
  z-index: 1;
}

.section-inner {
  max-width: var(--inner-width);
  z-index: 2;
  color: #fff;
  padding: 0 0 80px;
  text-align: justify;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
  text-decoration: none;
  outline: none;
  display: block;
  color: #fff;
}

.section-content {
  padding: 0 20px;
}
.section-text {
  max-width: var(--inner-width);
  margin: 0 auto;
}

section:nth-child(even) {
  background-color: #000;
}
section:nth-child(odd) {
  background-color: #222;
}

aside {
  position: fixed;
  left: 0;
  top: 40vh;
  z-index: 2;
  background-color: rgba(252, 252, 252, 0.5);
  padding: 16px 16px 16px 10px;
  border-radius: 0 10px 10px 0;
  transform: translate(-110%, -50%);
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  backdrop-filter: blur(10px);
  color: #fff;
}

.toc--active > a.toc-item-title {
  background-color: rgba(255, 255, 255, 0.3);
}

.toc__head {
  display: flex;
  justify-content: center;
}

.toc-logo {
  width: 2em;
  object-fit: contain;
}

.toc-item {
  display: flex;
  margin: 4px;
  flex-direction: column;
}

.toc-item__body {
  padding-left: 4px;
}

.toc-item--2 a.toc-item-title {
  font-size: 0.85em;
}

a.toc-item-title {
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  transition: all 200ms ease-in;
}

@keyframes breath {
  from {
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.1));
  }
  to {
    filter: drop-shadow(0px 0px 10px rgba(252, 252, 252, 0.5));
  }
}

@keyframes slide-in {
  from {
    transform: translate(-110%, -50%);
    filter: blur(4px);
  }
  to {
    transform: translate(0, -50%);
    filter: blur(0);
  }
}

@keyframes slide-out {
  from {
    transform: translate(0, -50%);
    filter: blur(0);
  }
  to {
    transform: translate(-110%, -50%);
    filter: blur(4px);
  }
}

.section-inner.organizer {
  /* max-width: 1200px; */
}

.person-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.person-avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
  display: block;
  user-select: none;
}
.person__body {
  text-align: center;
}

footer {
  position: relative;
  z-index: 1;
  padding: 0 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-inner {
  max-width: var(--inner-width);
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-item-title {
  font-size: 3em;
  margin: 1em 0;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  gap: 30px;
}

.sponsor {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.sponsor-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.sponsor-logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.sponsor-name {
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 0.5em;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 20px;
}

.timeline-item {
  display: flex;
  align-items: center;
}

.timeline-month {
  min-height: 3em;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5em;
  font-weight: bold;
  flex: 0 0 140px;
  width: 140px;
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}

.timeline-month::before {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #2e2e2e;
  content: "";
  z-index: -1;
}

.timeline-events {
  padding: 0.5em;
}

.foot-copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  position: relative;
  margin: 8px;
  font-size: 0.75em;
}

.speaker {
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  align-items: center;
}

.speaker__avatar {
  height: 140px;
  width: 140px;
  margin: 8px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  user-select: none;
}

.speaker__name {
  font-weight: bold;
  text-align: center;
}

.speaker__title {
  text-align: center;
  font-size: 0.85em;
  color: rgba(255, 255, 255, 0.5);
}

.keynote {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 40px;
  margin: 40px 0;
}

.swiper {
  position: relative;
  flex: 1;
  width: 100%;
}

.swiper__body {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.swiper-item {
  cursor: default;
  padding: 20px 40px 40px;
  flex: 0 0 100%;
  box-sizing: border-box;
  transition: transform 300ms ease-in;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #555;
}
.swiper-item__title {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.25em;
  margin: 1em 0;
  text-transform: uppercase;
}
.swiper-item:nth-child(odd) {
  background-color: #333;
}

.swiper:hover .swiper-switch-right {
  display: flex;
  animation: slide-in-right 200ms ease-in backwards;
}

.swiper:hover .swiper-switch-left {
  display: flex;
  animation: slide-in-left 200ms ease-in backwards;
}

@keyframes slide-in-right {
  from {
    transform: translate(10px, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0, -50%);
    opacity: 1;
    display: flex;
  }
}

@keyframes slide-out-right {
  from {
    display: flex;
    transform: translate(0, -50%);
    opacity: 1;
  }
  to {
    transform: translate(10px, -50%);
    opacity: 0;
    display: none;
  }
}

@keyframes slide-in-left {
  from {
    transform: translate(-10px, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0, -50%);
    opacity: 1;
    display: flex;
  }
}

@keyframes slide-out-left {
  from {
    display: flex;
    transform: translate(0, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-10px, -50%);
    opacity: 0;
    display: none;
  }
}

.swiper-switch {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 16px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.swiper-switch:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-switch-left {
  left: 8px;
  animation: slide-out-left 200ms ease-in forwards;
}

.swiper-switch-right {
  right: 8px;
  animation: slide-out-right 200ms ease-in forwards;
}

.swiper-switch .svg-icon {
  height: 10px;
  width: 10px;
}

.keynote-title {
  font-weight: bold;
  margin: 0.5em 0;
  text-align: center;
}

.swiper-indictor-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.swiper-indictor {
  padding: 12px 4px;
  cursor: pointer;
}
.swiper-indictor--active .swiper-indictor__btn {
  background-color: rgba(255, 255, 255, 0.8);
}
.swiper-indictor__btn {
  height: 2px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 300ms ease-in;
}

.link-icon {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin: 0 4px;
  background: url("../assets/icons/link.svg") no-repeat center / contain;
}

.section-inner.program {
  max-width: 1600px;
}

@media screen and (min-width: 1200px) {
  .section-inner.program {
    padding: 0 180px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-title {
    font-size: 3rem;
  }

  aside {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  section.overview-wrap::before {
    width: calc(
      var(--inner-width) + (100% - var(--inner-width)) * var(--scroll-percent)
    );
    border-radius: calc(28px * (1 - var(--scroll-percent)))
      calc(28px * (1 - var(--scroll-percent))) 0 0;
  }
  .keynote {
    flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .footer-item-title {
    font-size: 3em;
    margin: 1em 0;
    text-align: center;
  }

  .sponsors {
    flex-direction: column;
  }
}

.text--muted {
  font-size: 1rem;
  color: #aaa;
}

.agenda {
  display: grid;
  row-gap: 1px;
  grid-template-columns: 60px 1fr;
  grid-template-rows: repeat(28, 1.5rem);
  margin-bottom: 80px;
}

.agenda-time {
  transform: translateY(50%);
  align-self: center;
  height: 1.5rem;
  justify-self: end;
  display: flex;
  align-items: center;
  padding-right: 4px;
  color: #ddd;
}

.agenda-time--ticket {
  font-size: 0.75rem;
  color: #aaa;
}

.agenda-event {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.agenda-event--1,
.agenda-event--10,
.agenda-event--5 {
  background-color: rgba(28, 255, 221, 0.032);
}

.agenda-event--2,
.agenda-event--4,
.agenda-event--8 {
  background-color: rgba(19, 98, 255, 0.097);
}

.agenda-event--3,
.agenda-event--7 {
  background-color: rgba(187, 15, 255, 0.113);
}

.agenda-event--6 {
  background-color: #ec902e18;
}

.agenda-event--9 {
  background-color: #c2880014;
}

.agenda-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.paper {
  margin: 10px 0;
  position: relative;
  padding-left: 10px;
}

.paper::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 2px;
  bottom: 4px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.paper-title {
  font-weight: bold;
}

.paper-authors {
  font-size: 0.85rem;
  opacity: 0.8;
}

.oral-session {
  max-width: var(--inner-width);
  margin: 30px auto;
}

.oral-sesseion__title {
  font-size: 1.25rem;
}